div {
    font-family: 'Open_Sans', serif;
}
.block1 {
    font-weight: 300;
    text-decoration: line-through;
    font-size: 20px;
    line-height: 30px;
}
.block2 {
    font-weight: 300;
    text-align: center;
}
.block3 {
    color: #43023c;
    font-weight: 300;
    text-decoration: overline wavy;
    word-spacing: 30px;
}
.block4 {
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: underline double;
}