body {
    box-sizing: border-box;
}
.block1 {
    background: #dab3ff;
    height: 500px;
    border-radius: 30px 0px 0px 30px;
    overflow: auto;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}
.block2 {
    background: rgb(208, 172, 105);
    height: 150px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 0px 0px 10px black;
    display: inline-block;
    margin: 15px 5px;
}