body {
    font-family: sans-serif;
}

.color-red {
    color: red;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


td, th, caption  {
    border: 1px solid black;
}

caption {
    border-bottom: none;
    font-weight: 700 ;
}

.color-red {
    color: red;
}