html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(129, 129, 129, 0.334)
    
}

.header_inner{
    margin: auto;
}

.header_list {
    display: flex;
}

.list_item {
    display: flex;
    margin-right: 30px;
}

.list_item_margin {
    margin-right: 0;
}

.text {
    color: black;
}

.tel {
    display: flex;
    justify-content: end;
    color: black;
    text-decoration: none; 
}